.git
.github
.githooks
.pytest_cache
.venv
backend
google_drive_downloads_cropped_v5
MTGJSON-analysis
frontend/architecture
frontend/mtg-inventory/.env
frontend/mtg-inventory/.env.local
frontend/mtg-inventory/.pytest_cache
frontend/mtg-inventory/.secrets
frontend/mtg-inventory/__pycache__
frontend/mtg-inventory/node_modules
frontend/mtg-inventory/test_data.db
frontend/mtg-inventory/tests
frontend/mtg-inventory/cypress
client_secret_*.json
