interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.scryfall.com/cards/search?q=usd%3E%3D100&unique=cards
  response:
    body:
      string: "{\"object\":\"list\",\"total_cards\":683,\"has_more\":true,\"next_page\":\"https://api.scryfall.com/cards/search?format=json&include_extras=false&include_multilingual=false&include_variations=false&order=name&page=2&q=usd%3E%3D100&unique=cards\",\"data\":[{\"object\":\"card\",\"id\":\"372afa84-9ca9-46e6-8643-e16249505c59\",\"oracle_id\":\"cbf09050-39d0-463b-96db-9e22011ae0d8\",\"multiverse_ids\":[],\"mtgo_id\":145238,\"tcgplayer_id\":661970,\"cardmarket_id\":857512,\"name\":\"Aang,
        Swift Savior // Aang and La, Ocean's Fury\",\"lang\":\"en\",\"released_at\":\"2025-11-21\",\"uri\":\"https://api.scryfall.com/cards/372afa84-9ca9-46e6-8643-e16249505c59\",\"scryfall_uri\":\"https://scryfall.com/card/tla/359/aang-swift-savior-aang-and-la-oceans-fury?utm_source=api\",\"layout\":\"transform\",\"highres_image\":true,\"image_status\":\"highres_scan\",\"cmc\":3.0,\"type_line\":\"Legendary
        Creature \u2014 Human Avatar Ally // Legendary Creature \u2014 Avatar Spirit
        Ally\",\"color_identity\":[\"U\",\"W\"],\"keywords\":[\"Flying\",\"Reach\",\"Airbend\",\"Transform\",\"Trample\",\"Flash\",\"Waterbend\"],\"card_faces\":[{\"object\":\"card_face\",\"name\":\"Aang,
        Swift Savior\",\"mana_cost\":\"{1}{W}{U}\",\"type_line\":\"Legendary Creature
        \u2014 Human Avatar Ally\",\"oracle_text\":\"Flash\\nFlying\\nWhen Aang enters,
        airbend up to one other target creature or spell. (Exile it. While it's exiled,
        its owner may cast it for {2} rather than its mana cost.)\\nWaterbend {8}:
        Transform Aang.\",\"colors\":[\"U\",\"W\"],\"power\":\"2\",\"toughness\":\"3\",\"artist\":\"Flavio
        Gir\xF3n\",\"artist_id\":\"466d0e8e-bc19-4897-956d-6405bfd89e46\",\"illustration_id\":\"d0e6841f-e7d6-4f4a-80ba-60996457d69a\",\"image_uris\":{\"small\":\"https://cards.scryfall.io/small/front/3/7/372afa84-9ca9-46e6-8643-e16249505c59.jpg?1764122648\",\"normal\":\"https://cards.scryfall.io/normal/front/3/7/372afa84-9ca9-46e6-8643-e16249505c59.jpg?1764122648\",\"large\":\"https://cards.scryfall.io/large/front/3/7/372afa84-9ca9-46e6-8643-e16249505c59.jpg?1764122648\",\"png\":\"https://cards.scryfall.io/png/front/3/7/372afa84-9ca9-46e6-8643-e16249505c59.png?1764122648\",\"art_crop\":\"https://cards.scryfall.io/art_crop/front/3/7/372afa84-9ca9-46e6-8643-e16249505c59.jpg?1764122648\",\"border_crop\":\"https://cards.scryfall.io/border_crop/front/3/7/372afa84-9ca9-46e6-8643-e16249505c59.jpg?1764122648\"}},{\"object\":\"card_face\",\"name\":\"Aang
        and La, Ocean's Fury\",\"mana_cost\":\"\",\"type_line\":\"Legendary Creature
        \u2014 Avatar Spirit Ally\",\"oracle_text\":\"Reach, trample\\nWhenever Aang
        and La attack, put a +1/+1 counter on each tapped creature you control.\",\"colors\":[],\"power\":\"5\",\"toughness\":\"5\",\"artist\":\"Flavio
        Gir\xF3n\",\"artist_id\":\"466d0e8e-bc19-4897-956d-6405bfd89e46\",\"illustration_id\":\"fd10f9dd-1984-4010-913b-9aefc82eaf04\",\"image_uris\":{\"small\":\"https://cards.scryfall.io/small/back/3/7/372afa84-9ca9-46e6-8643-e16249505c59.jpg?1764122648\",\"normal\":\"https://cards.scryfall.io/normal/back/3/7/372afa84-9ca9-46e6-8643-e16249505c59.jpg?1764122648\",\"large\":\"https://cards.scryfall.io/large/back/3/7/372afa84-9ca9-46e6-8643-e16249505c59.jpg?1764122648\",\"png\":\"https://cards.scryfall.io/png/back/3/7/372afa84-9ca9-46e6-8643-e16249505c59.png?1764122648\",\"art_crop\":\"https://cards.scryfall.io/art_crop/back/3/7/372afa84-9ca9-46e6-8643-e16249505c59.jpg?1764122648\",\"border_crop\":\"https://cards.scryfall.io/border_crop/back/3/7/372afa84-9ca9-46e6-8643-e16249505c59.jpg?1764122648\"}}],\"legalities\":{\"standard\":\"legal\",\"future\":\"legal\",\"historic\":\"legal\",\"timeless\":\"legal\",\"gladiator\":\"legal\",\"pioneer\":\"legal\",\"modern\":\"legal\",\"legacy\":\"legal\",\"pauper\":\"not_legal\",\"vintage\":\"legal\",\"penny\":\"not_legal\",\"commander\":\"legal\",\"oathbreaker\":\"legal\",\"standardbrawl\":\"legal\",\"brawl\":\"legal\",\"alchemy\":\"legal\",\"paupercommander\":\"not_legal\",\"duel\":\"legal\",\"oldschool\":\"not_legal\",\"premodern\":\"not_legal\",\"predh\":\"not_legal\"},\"games\":[\"paper\",\"arena\",\"mtgo\"],\"reserved\":false,\"game_changer\":false,\"foil\":true,\"nonfoil\":false,\"finishes\":[\"foil\"],\"oversized\":false,\"promo\":false,\"reprint\":false,\"variation\":false,\"set_id\":\"118f7e64-5caa-4cb7-99a8-184f4d3a7422\",\"set\":\"tla\",\"set_name\":\"Avatar:
        The Last Airbender\",\"set_type\":\"expansion\",\"set_uri\":\"https://api.scryfall.com/sets/118f7e64-5caa-4cb7-99a8-184f4d3a7422\",\"set_search_uri\":\"https://api.scryfall.com/cards/search?order=set&q=e%3Atla&unique=prints\",\"scryfall_set_uri\":\"https://scryfall.com/sets/tla?utm_source=api\",\"rulings_uri\":\"https://api.scryfall.com/cards/372afa84-9ca9-46e6-8643-e16249505c59/rulings\",\"prints_search_uri\":\"https://api.scryfall.com/cards/search?order=released&q=oracleid%3Acbf09050-39d0-463b-96db-9e22011ae0d8&unique=prints\",\"collector_number\":\"359\",\"digital\":false,\"rarity\":\"rare\",\"artist\":\"Flavio
        Gir\xF3n\",\"artist_ids\":[\"466d0e8e-bc19-4897-956d-6405bfd89e46\"],\"border_color\":\"borderless\",\"frame\":\"2015\",\"frame_effects\":[\"inverted\",\"legendary\"],\"security_stamp\":\"oval\",\"full_art\":true,\"textless\":true,\"booster\":false,\"story_spotlight\":false,\"promo_types\":[\"universesbeyond\",\"neonink\",\"boosterfun\"],\"edhrec_rank\":5091,\"preview\":{\"source\":\"Avatar
        Legends\",\"source_uri\":\"https://www.instagram.com/p/DQe9PSnDCjG/?img_index=2\",\"previewed_at\":\"2025-10-31\"},\"prices\":{\"usd\":null,\"usd_foil\":\"522.85\",\"usd_etched\":null,\"eur\":null,\"eur_foil\":\"90.85\",\"tix\":\"0.10\"},\"related_uris\":{\"tcgplayer_infinite_articles\":\"https://partner.tcgplayer.com/c/4931599/1830156/21018?subId1=api&trafcat=tcgplayer.com%2Fsearch%2Farticles&u=https%3A%2F%2Fwww.tcgplayer.com%2Fsearch%2Farticles%3FproductLineName%3Dmagic%26q%3DAang%252C%2BSwift%2BSavior%2B%252F%252F%2BAang%2Band%2BLa%252C%2BOcean%2527s%2BFury\",\"tcgplayer_infinite_decks\":\"https://partner.tcgplayer.com/c/4931599/1830156/21018?subId1=api&trafcat=tcgplayer.com%2Fsearch%2Fdecks&u=https%3A%2F%2Fwww.tcgplayer.com%2Fsearch%2Fdecks%3FproductLineName%3Dmagic%26q%3DAang%252C%2BSwift%2BSavior%2B%252F%252F%2BAang%2Band%2BLa%252C%2BOcean%2527s%2BFury\",\"edhrec\":\"https://edhrec.com/route/?cc=Aang%2C+Swift+Savior\"},\"purchase_uris\":{\"tcgplayer\":\"https://partner.tcgplayer.com/c/4931599/1830156/21018?subId1=api&u=https%3A%2F%2Fwww.tcgplayer.com%2Fproduct%2F661970%3Fpage%3D1\",\"cardmarket\":\"https://www.cardmarket.com/en/Magic/Products?idProduct=857512&referrer=scryfall&utm_campaign=card_prices&utm_medium=text&utm_source=scryfall\",\"cardhoarder\":\"https://www.cardhoarder.com/cards/145238?affiliate_id=scryfall&ref=card-profile&utm_campaign=affiliate&utm_medium=card&utm_source=scryfall\"}},{\"object\":\"card\",\"id\":\"c605a09c-78f3-48e3-81f2-1d680af140d6\",\"oracle_id\":\"947a2665-2f4d-4193-8768-118f85334549\",\"multiverse_ids\":[],\"tcgplayer_id\":594413,\"cardmarket_id\":800886,\"name\":\"Abundant
        Growth\",\"flavor_name\":\"Abundant Groot\",\"lang\":\"en\",\"released_at\":\"2024-11-04\",\"uri\":\"https://api.scryfall.com/cards/c605a09c-78f3-48e3-81f2-1d680af140d6\",\"scryfall_uri\":\"https://scryfall.com/card/sld/870/abundant-growth?utm_source=api\",\"layout\":\"normal\",\"highres_image\":true,\"image_status\":\"highres_scan\",\"image_uris\":{\"small\":\"https://cards.scryfall.io/small/front/c/6/c605a09c-78f3-48e3-81f2-1d680af140d6.jpg?1738266617\",\"normal\":\"https://cards.scryfall.io/normal/front/c/6/c605a09c-78f3-48e3-81f2-1d680af140d6.jpg?1738266617\",\"large\":\"https://cards.scryfall.io/large/front/c/6/c605a09c-78f3-48e3-81f2-1d680af140d6.jpg?1738266617\",\"png\":\"https://cards.scryfall.io/png/front/c/6/c605a09c-78f3-48e3-81f2-1d680af140d6.png?1738266617\",\"art_crop\":\"https://cards.scryfall.io/art_crop/front/c/6/c605a09c-78f3-48e3-81f2-1d680af140d6.jpg?1738266617\",\"border_crop\":\"https://cards.scryfall.io/border_crop/front/c/6/c605a09c-78f3-48e3-81f2-1d680af140d6.jpg?1738266617\"},\"mana_cost\":\"{G}\",\"cmc\":1.0,\"type_line\":\"Enchantment
        \u2014 Aura\",\"oracle_text\":\"Enchant land\\nWhen this Aura enters, draw
        a card.\\nEnchanted land has \\\"{T}: Add one mana of any color.\\\"\",\"colors\":[\"G\"],\"color_identity\":[\"G\"],\"keywords\":[\"Enchant\"],\"produced_mana\":[\"B\",\"G\",\"R\",\"U\",\"W\"],\"legalities\":{\"standard\":\"not_legal\",\"future\":\"not_legal\",\"historic\":\"not_legal\",\"timeless\":\"not_legal\",\"gladiator\":\"not_legal\",\"pioneer\":\"not_legal\",\"modern\":\"legal\",\"legacy\":\"legal\",\"pauper\":\"legal\",\"vintage\":\"legal\",\"penny\":\"not_legal\",\"commander\":\"legal\",\"oathbreaker\":\"legal\",\"standardbrawl\":\"not_legal\",\"brawl\":\"not_legal\",\"alchemy\":\"not_legal\",\"paupercommander\":\"legal\",\"duel\":\"legal\",\"oldschool\":\"not_legal\",\"premodern\":\"not_legal\",\"predh\":\"not_legal\"},\"games\":[\"paper\"],\"reserved\":false,\"game_changer\":false,\"foil\":true,\"nonfoil\":false,\"finishes\":[\"foil\"],\"oversized\":false,\"promo\":false,\"reprint\":true,\"variation\":false,\"set_id\":\"4d92a8a7-ccb0-437d-abdc-9d70fc5ed672\",\"set\":\"sld\",\"set_name\":\"Secret
        Lair Drop\",\"set_type\":\"box\",\"set_uri\":\"https://api.scryfall.com/sets/4d92a8a7-ccb0-437d-abdc-9d70fc5ed672\",\"set_search_uri\":\"https://api.scryfall.com/cards/search?order=set&q=e%3Asld&unique=prints\",\"scryfall_set_uri\":\"https://scryfall.com/sets/sld?utm_source=api\",\"rulings_uri\":\"https://api.scryfall.com/cards/c605a09c-78f3-48e3-81f2-1d680af140d6/rulings\",\"prints_search_uri\":\"https://api.scryfall.com/cards/search?order=released&q=oracleid%3A947a2665-2f4d-4193-8768-118f85334549&unique=prints\",\"collector_number\":\"870\",\"digital\":false,\"rarity\":\"rare\",\"flavor_text\":\"Groot
        is renowned as one of the best Gardeners of the Galaxy.\",\"card_back_id\":\"0aeebaf5-8c7d-4636-9e82-8c27447861f7\",\"artist\":\"Ryan
        Yee\",\"artist_ids\":[\"8955dca7-3e37-42b4-83a9-167c78a2178f\"],\"illustration_id\":\"8e5a0dcb-a6d7-4cef-bf87-8c94d6825c25\",\"border_color\":\"borderless\",\"frame\":\"2015\",\"frame_effects\":[\"inverted\"],\"security_stamp\":\"triangle\",\"full_art\":true,\"textless\":false,\"booster\":false,\"story_spotlight\":false,\"promo_types\":[\"sldbonus\",\"universesbeyond\"],\"edhrec_rank\":2444,\"penny_rank\":644,\"prices\":{\"usd\":null,\"usd_foil\":\"123.37\",\"usd_etched\":null,\"eur\":null,\"eur_foil\":\"138.76\",\"tix\":null},\"related_uris\":{\"tcgplayer_infinite_articles\":\"https://partner.tcgplayer.com/c/4931599/1830156/21018?subId1=api&trafcat=tcgplayer.com%2Fsearch%2Farticles&u=https%3A%2F%2Fwww.tcgplayer.com%2Fsearch%2Farticles%3FproductLineName%3Dmagic%26q%3DAbundant%2BGrowth\",\"tcgplayer_infinite_decks\":\"https://partner.tcgplayer.com/c/4931599/1830156/21018?subId1=api&trafcat=tcgplay[...]
